.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.stateInfo {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: #ffc400ef;
  background: #ffc400ef;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.stateInfo h4 {
  margin: 0 0 5px;
  color: #777;
}

.movieInfo {
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: #ffc400ef;
  background: #ffc400ef;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.movieInfo h4 {
  margin: 0 0 5px;
  color: #777;
}
