doctype html
html
    head
        link(rel="stylesheet", type="text/css", href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css", integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==", crossorigin="")
        link(rel="stylesheet", type="text/css", href="../assets/css/home.css")
        script(src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js", integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==",crossorigin="")
        
    body
        div.map-container#jsMap
        script(src="https://unpkg.com/axios/dist/axios.min.js")
        script(type="text/javascript" src="/assets/geoJson/skorea_provinces_geo_simple.js")
        script(type="text/javascript" src="/assets/js/home.js")
        